<h1>Adivina la Pelicula</h1>
<br>
<br>
<h2>Pista 1 :</h2> <b><%=@pista%></b>
<br>
<form method="POST" action="/terminar"><input type="submit" name="Terminar" value="Terminar" /></form>
<br>
<form method="POST" action="/reiniciar"><input type="submit" name="Reiniciar" value="Reiniciar" /></form>
<br>
<h2><b><%=@estado%></b>
